img {
	width:100%;
	opacity: 0.8;
	z-index: -1;
}

h1 {
	font-family:Arial, Verdana, Monospace;;
	font-size: 35px;
	text-align: center;
	margin-bottom:5px;
	margin-top:5px;
}

h2 {
	font-family: Arial, Verdana, Monospace;
	font-size: 25px;
	text-align: left;
	margin-bottom: 1px;
	margin-top: 5px;
}

h6 {
	text-align: right;
	margin-right: 10px;
	margin-bottom: 1px;
	margin-top: 5px;
	font-family: Times, Georgia, serif;
	font-size: 15px;
}
.container {
	margin: auto;
	position: relative;
    margin-left: -50%;
    width: 800px;
}
.menu {
    width: 70%;
    margin: auto;
    position: absolute;
    top: 100px;
    left: 50%; 
}

#story-list {
	margin: auto;
	padding: 10px;
	font-size: 20px;
}
