

body{

	background-image: url(worldmapoutline.png);
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: bottom center;
	margin-bottom: 200px;
	background-attachment: fixed;
}

h1{
	font-family:Arial, Verdana, Monospace;;
	font-size: 40px;
	text-align: center;
	margin-top:1px;
	margin-bottom:1px;
}

h2{
	font-family: Arial, Verdana, Monospace;
	font-size: 25px;
	text-align: left;
	margin-bottom: 5px;
}

h6{
	text-align: right;
	margin-right: 10px;
	margin-bottom: 1px;
	font-family: Times, Georgia, serif;
	font-size: 15px;
}

#story-list {
	margin: auto;
	width: 60%;
	padding: 10px;
	background-color: white;
}
